<!-- <html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>doelsevier - NLP analysis and visualization of scholarly articles</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>

<body>
    <header class="sticky-top py-2 bg-dark">
        <nav class="d-flex py-2  ml-5">
            <a class="py-2 d-none d-md-inline-block text-light" href="#" aria-label="Product">

                <i class="far fa-bookmark"></i>&nbsp; &nbsp;&nbsp;<b>doelsevier</b>
            </a>

        </nav>
    </header>

    <main>
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 fw-normal">Doelsevier</h1>
                <p class="lead fw-normal"> NLP analysis and visualization of scholarly articles</p>
                <div class="container">
                    <div class="row height d-flex justify-content-center align-items-center">
                        <div class="col-md-7">
                            <div class="form">
                                <!-- <i class="fa fa-search"></i> -->
                                <!-- <input type="text" class="form-control form-input"
                                    placeholder="Search your interest...">
                                <span class="left-pan">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
        </div>

        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">

            <div class="d-md-flex flex-md-equal mw-100 my-md-3 ps-md-3 text-light">
                <div class="bg-dark me-md-3 pt-5 px-5 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body shadow-sm mx-auto"
                        style="width: 100%; height: 200px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
                <div class="bg-dark me-md-3 pt-5 px-5 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body shadow-sm mx-auto"
                        style="width: 100%; height: 200px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
                <div class="bg-dark me-md-3 pt-5 px-5 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body shadow-sm mx-auto"
                        style="width: 100%; height: 200px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
                <div class="bg-dark me-md-3 pt-5 px-5 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body shadow-sm mx-auto"
                        style="width: 100%; height: 200px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
            </div>

            <div class="d-md-flex flex-md-equal mw-100 my-md-3 ps-md-3 text-light">
                <div class="bg-dark me-md-3 pt-5 px-5 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body shadow-sm mx-auto"
                        style="width: 100%; height: 200px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
                <div class="bg-dark me-md-3 pt-5 px-5 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body shadow-sm mx-auto"
                        style="width: 100%; height: 200px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
                <div class="bg-dark me-md-3 pt-5 px-5 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body shadow-sm mx-auto"
                        style="width: 100%; height: 200px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
                <div class="bg-dark me-md-3 pt-5 px-5 pt-md-5 px-md-5 text-center overflow-hidden">
                    <div class="my-3 p-3">
                        <h2 class="display-5">Another headline</h2>
                        <p class="lead">And an even wittier subheading.</p>
                    </div>
                    <div class="bg-body shadow-sm mx-auto"
                        style="width: 100%; height: 200px; border-radius: 21px 21px 0 0;">
                    </div>
                </div>
            </div>

        </div>

        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">

            <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
                <div class="my-3 p-3">
                    <h2 class="display-5">Dashboard</h2>
                    <p class="lead">import google dashboard here?</p>
                </div>
                <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
                </div>
            </div>
        </div>
    </main>

    <footer class="container py-5">
        <div class="row">
            <div class="col-3 col-md">
                <i class="far fa-bookmark"></i></i>&nbsp; &nbsp;<b>doelsevier</b>
                <small class="d-block mb-3 text-muted">© doguma 2021</small>
            </div>
            <div class="col-6 col-md">
                <div style="font-size:20px text-dark">
                    <p class="float-right">&nbsp;
                        <a class="link-secondary" href="https://github.com/doguma">
                            <i class="fab fa-github"></i></a>
                        &nbsp;
                        <a class="link-secondary" href="https://www.linkedin.com/in/-hannah-do/">
                            <i class="fab fa-linkedin"></i></a>
                        &nbsp;
                        <a class="link-secondary" href="https://medium.com/@hannah.hj.do">
                            <i class="fab fa-medium"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html> -->


hello?