<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>doby - NLP analysis and visualization of scholarly articles</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>
    <header class="sticky-top py-2 bg-dark clearfix">
        <nav class="py-2 ml-5">
            <a class="py-2 text-light" href="#" aria-label="Product">
                <i class="fas fa-egg"></i>&nbsp; &nbsp;&nbsp;<b>doby</b>
            </a>
        </nav>
    </header>

    <main>
        <div class="position-relative bg-light text-center pt-5">
            <div class="mw-95 text-dark">
                <div class="my-5">
                    <h1 class="display-4 fw-normal">Doby</h1>
                    <p class="lead fw-normal mb-3"> NLP analysis and visualization of scholarly articles</p>
                    <div class="container-fluid">

                        {% if err_message %}
                        <span class="pt-1 pb-1 mb-3 mr-3 badge badge-pill badge-warning align-middle"
                            style="margin-top: -0.5em;">
                            {{ err_message }}
                        </span>
                        {% else %}
                        <span class="pt-1 pb-1 mb-3 mr-3 badge badge-pill badge-success align-middle"
                            style="margin-top: -0.5em;">
                            all good
                        </span>
                        {% endif %}


                        <div class="row justify-content-center align-items-center mb-5" style="text-align: center;">
                            <form class="form-inline" method="POST" action="./">
                                <input class="form-control-sm mr-2" type="text" name="add_keyword"
                                    placeholder="Type in keyword...">
                                <button class="form-control-sm btn btn-outline-dark btn-sm"><b>add</b></button>
                            </form>
                        </div>
                        <div class="row height justify-content-center align-items-center">
                            <div class="jumbotron jumbotron-fluid mt-5">
                                <div>
                                    <h3 class="mb-3"> Keywords </h3>
                                    <p class="lead pt-2 px-3 pb-2 mb-4 mx-4"> Click the magnifying glass to search with your
                                        keywords
                                    </p>
                                    {% if keywords %}
                                    {% for keyword in keywords %}

                                    <div class="row justify-content-center mx-2 mb-1" style="text-align:center;">
                                        <form class="form-inline" method="POST" action="./delete">
                                            <input type="hidden" value="{{keyword.word}}" name="delete_keyword">
                                            <input type="submit" class="btn btn-primary btn-sm" value={{keyword.word}}>
                                        </form>
                                    </div>
                                    {% endfor %}
                                    <div class="row justify-content-center mx-2 mb-1">
                                        <form class="form-inline" method="POST" action="./search">
                                            <input type="hidden" value="search" name="search_keyword">
                                            <button class="btn btn-dark mt-4 btn-lg"><i class="fa fa-search"></i></button>
                                        </form>

                                    </div>
                                    {% else %}
                                    <span class="pt-1 pb-1 mb-2 mr-3 mt-1 badge badge-pill badge-warning align-middle"
                                        style="margin-top: -0.5em;">
                                        there's no keyword
                                    </span>
                                    <div>
                                        <button class="btn btn-dark mt-4 btn-lg" disabled><i
                                                class="fa fa-search"></i></button>

                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>

                    
                </div>

                <div class="position-relative bg-dark text-center text-light pt-5 mb-5 pb-5">
                    <div class="pt-5 mb-5">
                        <h2>Trending Articles on PubMed</h2>
                        <p> PubMed records with recent increases in activity <br />- <b> {{today}}</b></p>
                    </div>
                    <div class="container d-md-flex flex-md-equal mw-95 text-light mb-3">
                        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 mb-2">
                            {% for item in trending_articles %}
                            <div class="card col bg-dark pt-5 px-5 pb-3">
                                <div class="card-title p-3">
                                    <p style="font-size:80%"> PubMed ID : {{item.id}}</p>
                                    <h6 small>{{ item.title }}</h6>
                                    <div style="color:rgb(255, 236, 160); font-size: 70%">
                                        <em>{{item.authors}}</em>
                                    </div>
                                    <div class="card-text pt-3">
                                        <p style="font-size: 80%">{{item.abstract}}</p>

                                    </div>
                                    <div style="font-size: 70%">
                                        <a href="{{item.url}}">{{item.url}}</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="position-relative p-3 bg-light mx-5">
                    <div class="p-3">
                        <h2 class="display-5">Word Cloud</h2>
                        <p class="lead">Trending words on PubMed - based on the articles above</p>
                    </div>
                    <div class="bg-dark shadow-sm mx-5 mt-5 mb-5 pb-5" style="border-radius: 21px 21px 0 0;">
                        <div class="justify-content-center mx-3 mb-5 mt-2 pt-5" style="text-align:center;">
                            <h3 class="text-light mt-5 mb-5">unigrams</h3>
                            {% for i in ngram1 %}

                            {% if i.count >= 30 %}
                            <button type="button" class="btn btn-info btn-lg m-3">{{i.word}} ({{i.count}})</button>
                            {% elif i.count >= 20 %}
                            <button type="button" class="btn btn-info btn-md m-3">{{i.word}} ({{i.count}})</button>
                            {% else %}
                            <button type="button" class="btn btn-info btn-sm m-3">{{i.word}} ({{i.count}})</button>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="mb-5"></div>
                        <div class="mb-5"></div>
                    </div>

                    <div class="bg-light shadow-sm mx-5 mt-5 mb-5 pb-5" style="border-radius: 21px 21px 0 0;">
                        <div class="justify-content-center mx-3 mb-5 mt-2 pt-5" style="text-align:center;">
                            <h3 class="text-dark mt-5 mb-5 ">bigrams</h3>
                            {% for i in ngram2 %}

                            {% if i.count >= 20 %}
                            <button type="button" class="btn btn-info btn-lg m-3">{{i.word}} ({{i.count}})</button>
                            {% elif i.count >= 8 %}
                            <button type="button" class="btn btn-info btn-md m-3">{{i.word}} ({{i.count}})</button>
                            {% else %}
                            <button type="button" class="btn btn-info btn-sm m-3">{{i.word}} ({{i.count}})</button>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="mb-5"></div>
                        <div class="mb-5"></div>
                    </div>

                    <div class="bg-dark shadow-sm mx-5 mt-5 mb-5 pb-5" style="border-radius: 0 0 21px 21px ;">
                        <div class="justify-content-center mx-3 mb-5 mt-2 pt-5" style="text-align:center;">
                            <h3 class="text-light mt-5 mb-5 ">trigrams</h3>
                            {% for i in ngram3 %}

                            {% if i.count >= 8 %}
                            <button type="button" class="btn btn-info btn-lg m-3">{{i.word}} ({{i.count}})</button>
                            {% elif i.count >= 6 %}
                            <button type="button" class="btn btn-info btn-md m-3">{{i.word}} ({{i.count}})</button>
                            {% else %}
                            <button type="button" class="btn btn-info btn-sm m-3">{{i.word}} ({{i.count}})</button>
                            {% endif %}
                            {% endfor %}
                        </div>
                        <div class="mb-5"></div>
                        <div class="mb-5"></div>
                    </div>
                </div>


                <div class="my-5 pb-1">
                    <h3 class="display-5 fw-normal mb-4 ">Export csv files</h3>
                    <p class="lead">Click the button below to save trending articles as a csv file </p>
                    <div class="container-fluid mb-3">

                        <div class="row height justify-content-center align-items-center mb-5">
                                <div class="mb-5">
                                    <div class="justify-content-center mx-2 mb-5" style="text-align:center;">
                                        <form class="form-inline" method="POST" action="./to-csv-ta">
                                            <input type="hidden" value="home" name="to-csv-ta">
                                            <input type="submit" class="btn btn-success btn-md" value="save csv">
                                        </form>
                                    </div>

                                </div>
                        </div>
                    </div>
                </div>
    </main>

    <footer class="container py-5">
        <div class="row">
            <div class="col-6 col-md">
                <div>
                    <p class="float-left">&nbsp;
                        <i class="fas fa-egg"></i></i>&nbsp; &nbsp;<b>doby</b>
                        <small class="d-block mb-3 text-muted">© doguma 2021</small>
                    </p>
                </div>
            </div>
            <div class="col-6 col-md">
                <div style="font-size:20px text-dark">
                    <p class="float-right">
                        <a class="link-secondary mx-2" href="https://github.com/doguma">
                            <i class="fab fa-github"></i>
                        </a>
                        <a class="link-secondary mx-2" href="https://www.linkedin.com/in/-hannah-do/">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a class="link-secondary mx-2" href="https://medium.com/@hannah.hj.do">
                            <i class="fab fa-medium"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

</body>

</html>